In [ ]:
!pip install geopandas

In [ ]:
import pandas as pd
from glob import glob
import os
import numpy as np
from tqdm import tqdm, tqdm_notebook
import geopandas as gpd

from shapely.geometry import Point

In [ ]:
df = pd.read_table('/content/drive/MyDrive/LH/raw data/효과분석_데이터.txt',sep=',')

In [ ]:
df

,cctv_nm,type,install_ym,lon,lat,gid,before_cat5,before_cat4,before_cat3,before_cat2,...,유동인구지수,공적감시취약지수,풍속업소지수,대체감시취약지수,bef_police_score,aft_police_score,dec_police_score,cluster,location_cluster,Priority
0,(회현동31)3_봉황416-5,방범용,'2020-11,128.875982,35.233518,마라252939,0.0,0.0,0.206897,0.000000,...,1.687779,23.851772,100.000000,47.619048,0.620690,0.000000,100.000000,1,0,27
1,(회현동32)2_봉황406-4,방범용,'2020-11,128.875982,35.233518,마라252939,0.0,0.0,0.206897,0.000000,...,1.687779,23.851772,100.000000,47.619048,0.620690,0.000000,100.000000,1,0,27
2,경성빌라3_삼정80-1↗,방범용,'2020-05,128.870408,35.228493,마라247934,0.0,0.0,0.391304,0.000000,...,5.805594,31.522121,98.913043,97.619048,1.173913,0.000000,100.000000,1,0,27
3,경아그랜드빌라4_부원13,방범용,'2021-07,128.802832,35.298313,마마184010,0.0,0.0,0.027027,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.081081,0.000000,100.000000,1,1,23
4,고분박물관_타고가야,방범용,'2020-02,128.873752,35.227744,마라250933,0.0,0.0,0.550000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.650000,0.130435,92.094862,1,0,27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
332,진례면사무소1_진례_송정245-5↓,방범용,'2020-05,128.748275,35.248979,마라135955,0.0,0.0,0.173913,0.000000,...,4.975240,7.682565,100.000000,85.714286,0.521739,0.500000,4.166667,4,9,95
333,진례면사무소2_진례_송정245-5→,방범용,'2020-05,128.748275,35.248979,마라135955,0.0,0.0,0.173913,0.000000,...,4.975240,7.682565,100.000000,85.714286,0.521739,0.500000,4.166667,4,9,95
334,집으로편의점2_부원601-30↑,방범용,'2020-05,128.880771,35.229034,마라256935,0.0,0.0,0.782609,0.043478,...,2.735388,5.986378,100.000000,92.857143,2.434783,2.100000,13.750000,4,8,94
335,화인유치원1_어방577↙,방범용,'2019-05,128.883720,35.228690,마라259934,0.0,0.0,2.545455,0.000000,...,13.067549,12.565726,78.019324,78.571429,7.636364,7.406250,3.013393,4,8,94
336,화인유치원2_어방577↑,방범용,'2019-05,128.852714,35.234684,마라230940,0.0,0.0,1.090909,0.000000,...,11.944284,21.517225,82.415459,85.714286,3.272727,3.218750,1.649306,4,0,93

In [ ]:
df.to_csv('/content/drive/MyDrive/LH/complete data/효과분석_데이터.csv', index=False)

In [ ]:
df = pd.read_table('/content/drive/MyDrive/LH/김해시_cctv설치현황_격자매칭완료.txt',sep=',')

In [ ]:
df

,cctv_nm,type,install_ym,lon,lat,geometry,gid
0,(동상동30)1_동상1092-31,방범용,'2020-11,128.883393,35.232738,POINT (128.883393 35.232738),마라258939
1,(동상동31)1_동상1015-4,방범용,'2020-11,128.882718,35.236226,POINT (128.882718 35.236226),마라258943
2,(동상동31)2_동상1015-4,방범용,'2020-11,128.882718,35.236226,POINT (128.882718 35.236226),마라258943
3,(동상동31)3_동상1015-4,방범용,'2020-11,128.843626,35.229568,POINT (128.843626 35.229568),마라222935
4,(동상동31)4_동상1015-4,방범용,'2020-11,128.883026,35.234773,POINT (128.883026 35.234773),마라258941
...,...,...,...,...,...,...,...
3247,희망공원3_삼계1459-5↓,방범용,'2015-12,128.820289,35.178996,POINT (128.820289 35.17899600000001),마라202878
3248,희망공원4_삼계1459-5←,방범용,'2015-12,128.710856,35.302871,POINT (128.710856 35.302871),마마100014
3249,희망공원5_삼계1459-5△,방범용,'2015-12,128.769536,35.258636,POINT (128.769536 35.258636),마라154966
3250,힐하우스1_외동1244-3↑,방범용,'2014-06,128.858039,35.231724,POINT (128.858039 35.231724),마라235937
3251,힐하우스2_외동1244-3↓,방범용,'2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971

In [ ]:
df['install_ym']=df['install_ym'].str[1:]

In [ ]:
df[['install_y','install_month']] = df['install_ym'].str.split('-', expand=True)

In [ ]:
df

,cctv_nm,type,install_ym,lon,lat,geometry,gid,install_y,install_month
0,(동상동30)1_동상1092-31,방범용,2020-11,128.883393,35.232738,POINT (128.883393 35.232738),마라258939,2020,11
1,(동상동31)1_동상1015-4,방범용,2020-11,128.882718,35.236226,POINT (128.882718 35.236226),마라258943,2020,11
2,(동상동31)2_동상1015-4,방범용,2020-11,128.882718,35.236226,POINT (128.882718 35.236226),마라258943,2020,11
3,(동상동31)3_동상1015-4,방범용,2020-11,128.843626,35.229568,POINT (128.843626 35.229568),마라222935,2020,11
4,(동상동31)4_동상1015-4,방범용,2020-11,128.883026,35.234773,POINT (128.883026 35.234773),마라258941,2020,11
...,...,...,...,...,...,...,...,...,...
3247,희망공원3_삼계1459-5↓,방범용,2015-12,128.820289,35.178996,POINT (128.820289 35.17899600000001),마라202878,2015,12
3248,희망공원4_삼계1459-5←,방범용,2015-12,128.710856,35.302871,POINT (128.710856 35.302871),마마100014,2015,12
3249,희망공원5_삼계1459-5△,방범용,2015-12,128.769536,35.258636,POINT (128.769536 35.258636),마라154966,2015,12
3250,힐하우스1_외동1244-3↑,방범용,2014-06,128.858039,35.231724,POINT (128.858039 35.231724),마라235937,2014,06
3251,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,06

In [ ]:
df.to_csv('/content/drive/MyDrive/LH/complete data/김해시_cctv설치현황_격자매칭완료.csv',index=False)

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/LH/complete data/cctv_area면적계싼.csv',encoding='cp949')

In [ ]:
df

,cctv_nm,type,install_ym,lon,lat,geometry,gid,install_y,install_mo,gid_2,cctv_area
0,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마마288072,508
1,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마마289072,9013
2,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마마289073,1152
3,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마마289071,726
4,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마마329047,33
...,...,...,...,...,...,...,...,...,...,...,...
3122,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마라242970,7934
3123,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마라242966,783
3124,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마라243966,538
3125,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마라242967,4493
3126,힐하우스2_외동1244-3↓,방범용,2014-06,128.864927,35.261812,POINT (128.864927 35.261812),마라241971,2014,6,마라243967,2939

In [ ]:
df = df[['gid_2','cctv_area']]

In [ ]:
df['감시취약지수'] = 1-df['cctv_area']/10000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler_ = MinMaxScaler()
scaler_.fit(df[['감시취약지수']])
scale = scaler_.transform(df[['감시취약지수']]) * 100
df2=pd.DataFrame(scale, columns=['감시취약지수(100)'])

In [ ]:
final = pd.concat([df, df2], axis = 1)
final = final[['gid_2','감시취약지수(100)']]
final.columns = ['gid','감시취약지수']

In [ ]:
final

           gid     감시취약지수
0     마마288072  94.888822
1     마마289072   9.316833
2     마마289073  88.409297
3     마마289071  92.695442
4     마마329047  99.667975
...        ...        ...
3122  마라242970  20.173056
3123  마라242966  92.121944
3124  마라243966  94.586981
3125  마라242967  54.794245
3126  마라243967  70.429621

[3127 rows x 2 columns]

In [ ]:
final.to_csv('/content/drive/MyDrive/LH/complete data/격자별_감시취약지수_2021.csv', index=False)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/LH/raw data/2020면적계싼.csv',encoding='cp949')

In [ ]:
df

In [ ]:
df = df[['gid_2','cctv_area']]

In [ ]:
df['감시취약지수'] = 1-df['cctv_area']/10000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler_ = MinMaxScaler()
scaler_.fit(df[['감시취약지수']])
scale = scaler_.transform(df[['감시취약지수']]) * 100
df2=pd.DataFrame(scale, columns=['감시취약지수(100)'])

In [ ]:
final = pd.concat([df, df2], axis = 1)
final = final[['gid_2','감시취약지수(100)']]
final.columns = ['gid','감시취약지수']

In [ ]:
final

           gid     감시취약지수
0     마마288072  94.888822
1     마마289071  92.695442
2     마마289072   9.316833
3     마마289073  88.409297
4     마마328046  92.292987
...        ...        ...
2869  마라240983  50.166013
2870  마라263990  99.828957
2871  마라262990  78.166818
2872  마라262991  45.547842
2873  마라263991  97.665761

[2874 rows x 2 columns]

In [ ]:
final.to_csv('/content/drive/MyDrive/LH/complete data/격자별_감시취약지수_2020.csv', index=False)